/* app css stylesheet */
@media screen and (min-device-pixel-ratio: 2) {
    /* Set the retina background */
    body {
        background-image: url(/img/shattered_@2X.png);
    }

    header {
        background-image: url(/img/asfalt_@2X.png)
    }
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body {
    position: relative;
    padding-top: 50px;
    background-image: url(/img/shattered.png);
}

header {
    background-image: url(/img/asfalt.png)
}

.navbar-brand-wrapper {
    position: relative;
}

p.status {
    color: red;
}

p.status.good, p.good {
    color: green;
}

.error {
    color: red;
}

/* ANIMATIONS */
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

/* DIRECTIVES */
@media (max-width: 768px) {
    header .magic-icons {
        display: none;
    }
}

.magic-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -100px;
    width: 200px;
}

.magic-icons img {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.magic-icons img:first-child {
    margin-left: 0;
}

.magic-icons img:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

/* HOME VIEW */
.remove-player-item {
    float: right;
    color: #953b39;
    cursor: pointer;
}

.remove-player-item:hover {
    color: #953b39;
    cursor: pointer;
    text-decoration: none;
}

/* TOURNAMENT VIEW */

.score-board {
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .score-board-affix {
        position: fixed;
        top: 60px;
    }
}

.player-list-item {
    display: inline-block;
    margin: auto 0;
}

.player-score {
    display: inline-block;
    padding: 4px 10px;
    border: 2px solid black;
    border-radius: 27px;
    width: 43px;
    text-align: center;
    float: right;
}

.score-digits {

}

.round-wrapper {
    display: block;
}

.match-wrapper {
    margin-bottom: 10px;
}

.match-player, .match-opponent {
    position: relative;
}

.versus {
    color: darkred;
}

.match {
    font-size: 1.5em;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 3px 3px 4px #aaa;
}

.match.dummy-match {
    background-color: #ccc;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
}

.winner-trophy {
    color: #ccc;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5px;
}

.winner-trophy-active {
    color: #D8AC6B;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5px;
}

.winner-trophy:hover {
    color: #D8AC6B;
    cursor: pointer;
}