/* app css stylesheet */
@media screen and (min-device-pixel-ratio: 2) {
    /* Set the retina background */
    body {
        background-image: url(/app/img/shattered_@2X.png);
    }

    header {
        background-image: url(/app/img/asfalt_@2X.png)
    }
}

body {
    position: relative;
    padding-top: 50px;
    background-image: url(/app/img/shattered.png);
}

header {
    background-image: url(/app/img/asfalt.png)
}

p.status {
    color: red;
}

p.status.good, p.good {
    color: green;
}

.error {
    color: red;
}

/* HOME VIEW */
.remove-player-item {
    float: right;
    color: #953b39;
    cursor: pointer;
}

.remove-player-item:hover {
    color: #953b39;
    cursor: pointer;
    text-decoration: none;
}

/* TOURNAMENT VIEW */

.score-board {
    font-size: 1.5em;
}

@media (min-width: 768px) {
    .score-board-affix {
        position: fixed;
        top: 60px;
    }
}

.player-list-item {
    display: inline-block;
    margin: auto 0;
}

.player-score {
    display: inline-block;
    padding: 4px 10px;
    border: 2px solid black;
    border-radius: 27px;
    width: 43px;
    text-align: center;
    float: right;
}

.score-digits {

}

.round-wrapper {
    display: block;
    margin-bottom: 10px;
}

.match-wrapper {

}

.match-player, .match-opponent {
    position: relative;
}

.versus {
    color: darkred;
}

.match {
    font-size: 1.5em;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 3px 3px 4px #aaa;
}

.match.dummy-match {
    background-color: #ccc;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
}

.winner-trophy {
    color: #ccc;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5px;
}

.winner-trophy-active {
    color: #D8AC6B;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 5px;
}

.winner-trophy:hover {
    color: #D8AC6B;
    cursor: pointer;
}