<h2>Tournament Overview</h2>
<div ng-controller="TournamentCtrl">
  <div class="row">
    <div class="col-lg-4">
      <h3>New Tournament</h3>
      <fieldset>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="newTournamentName" placeholder="Tournament Name">
        </div>
        <form ng-submit="addPlayer()">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="newPlayerName" placeholder="Player Name">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Add Player</button>
          </span>
            </div>
          </div>
        </form>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="player in players | orderBy:'name'">
            <span class="player-list-item">{{ player.name }}</span>
            <a class="remove-player-item" ng-click="removePlayer($index)"><i class="icon-remove-circle icon-large"></i></a>
          </li>
        </ul>
        <!-- /input-group -->

        <button ng-click="createTournament()" class="btn btn-primary" type="button" ng-disabled="disableCreation()">Create Tournament!</button>
      </fieldset>
    </div>
    <div class="col-lg-4">
           <h3>All tournaments</h3>
      <div class="list-group">
        <a class="list-group-item" ng-repeat="tournament in tournaments | orderBy:'title'" ng-click="gotoTournament(tournament.$id)">
          {{ tournament.title }}<i class="icon-arrow-right icon-large pull-right"></i>
        </a>
      </ul>
    </div>
  </div>
  <!-- /.col-lg-6 -->
</div>