<div ng-controller="HomeCtrl">
    <div class="jumbotron">
        <div class="container">
            <h1>Create, Manage and Battle!</h1>

            <p class="lead">
              <strong>Create</strong> and <strong>manage</strong> your own <a href="http://www.wizards.com/magic/‎">Magic</a>
              tournaments, then <strong>battle</strong> it out without
                losing your self to confusion! Tournaments currently support an All-Play-All (Swiss style) arrangement.
            </p>
            <a class="btn btn-primary btn-lg" a href="#/tournament">Get started »</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-4 text-center">
                <i class="icon-plus icon-3x"></i>

                <p>Create</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="icon-cogs icon-3x"></i>

                <p>Manage</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="icon-bolt icon-3x"></i>

                <p>Battle</p>
            </div>
        </div>
    </div>

</div>